<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <form ng-submit="food.getFood()">
      <legend>Find Resturants near you</legend>
      <div class="form-group">
        <input type="text" name="request" placeholder="Postcode" ng-model="food.postcode">
      </div>
      <div class="form-group">
        <input type="submit" value="GO!!!" class="button">
      </div>
    </form>
  </div>
  <div class="col-md-4">
  </div>
</div>


<div class="row">
  <div class="col-sm-6 col-md-4" ng-repeat="result in food.results">
    <div class="thumbnail">
      <div class="caption">
        <h3>{{ result.name }}</h3>
        <p>{{ result.open_now }}</p>
        <p><a class="btn btn-primary" ng-show="!teaser" role="button" ng-click="teaser=!teaser">Description</a>
           <a class="btn btn-primary" ng-show="teaser" role="button" ng-click="teaser=!teaser">Less</a>
           <a class="btn btn-default" ng-click="main.showTrailer(result)" role="button">Trailer</a></p>
           <a class="btn btn-default" ng-click="food.chooseFood(result)" role="button">Choose</a>
      </div>
    </div>
  </div>
</div>
