<!DOCTYPE html>
<html ng-app="testApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test App</title>

    <link rel="stylesheet" href="/js/vendor/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/js/vendor/fancybox/source/jquery.fancybox.css" media="screen" title="no title" charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/master.css" media="screen" title="no title" charset="utf-8">


    <script src="/js/vendor/angular/angular.min.js"></script>
    <script src="/js/vendor/angular-resource/angular-resource.min.js"></script>
    <script src="/js/vendor/satellizer/satellizer.min.js" charset="utf-8"></script>
    <script src="/js/vendor/angular-jwt/dist/angular-jwt.min.js"></script>
    <script src="/js/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/js/vendor/angular-youtube-mb/dist/angular-youtube-embed.min.js"></script>
    <script src="/js/vendor/angular-filter/dist/angular-filter.min.js"></script>

    <script src="/js/app.js" charset="utf-8"></script>
    <script src="/js/controllers/main.js" charset="utf-8"></script>
    <script src="/js/controllers/user.js" charset="utf-8"></script>
    <script src="/js/controllers/food.js" charset="utf-8"></script>
    <script src="/js/services/apikeys.js"></script>
    <script src="/js/services/token.js"></script>
    <script src="/js/directive/youtube.js"></script>
    <script src="/js/models/user.js"></script>
  </head>
  <body ng-controller="MainController as main">
  <div class="backgroundImage" ng-controller="UserController as user">
  <div ng-controller="FoodController as food">
    <nav>
      <div class="navLeft">
        <div class="logo" ui-sref="home"><img src="/images/logo.png"></div>
        <div class="tv" ui-sref="television" ui-sref-active="active">Television</div>
        <div class="food" ui-sref="food" ui-sref-active="active">Food</div>
      </div>
      <div class="navRight" ng-show="main.currentUser">
        <div class="user hidden-xs" ui-sref="user" ng-click="user.userPage()" ui-sref-active="active">{{ main.currentUser.name}}</div>
        <div class="logout" ng-click="main.logout()">Logout</div>
      </div>
      <div class="navRight" ng-show="!main.currentUser">
        <div class="facebook" ng-click="main.authenticate('facebook')"><i class="fa fa-facebook-square"></i> Sign in</div>
      </div>
    </nav>
    <div class="container" ui-view>
    </div>
  </div>
  </div>
  </body>
</html>
