
<div class="row">
  <div class="col-md-6">
    <div class="row">
      <h3>Past Televison Searches</h3>
      <div class="col-md-12"ng-repeat="tv in user.tvHistory">
        <div class="userThumbnail">
          <div class="caption">
            <p>{{ tv }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <h3>Past Postcode Searches</h3>
      <div class="col-md-12"ng-repeat="postcode in user.foodHistory">
        <div class="userThumbnail">
          <div class="caption">
            <p>{{ postcode }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
