body {
  background-color: brown;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

.container {
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
  margin-top: 60px;
}

.row {
  width: 100%;
  margin-top: 50px;
}

.thirds {
  display: inline-block;
  width: 30%;
  text-align: center;
}

input {
  background-color: #55e4fc;
  border: 0px;
  color: #ec62fc;
  border-radius: 2px;
}

.button {
  background-color: #ec62fc;
  color: #55e4fc;
  border-radius: 100%;
}

nav {
  width: 100%;
  background-color: orange;
  height: 60px;
  position: fixed;
  left: 0px;
  top: 0px;

  div {
    // border: 1px solid black;
    position: absolute;
    height: 100%;
    width: 48%;
    line-height: 60px;
  }
  .navRight {
    right: 0px;
    text-align: right;
    div {
      display: inline-block;
      position: relative;
      width: 15%;
      text-align: center;
    }
    div:hover {
      background-color: yellow;
    }
  }
  .navLeft {
    div {
      display: inline-block;
      width: 15%;
      position: relative;
      text-align: center;
      margin: 0px;
      margin-left: 0px;
    }
    div:hover {
      background-color: yellow;
    }
  }
}
