body {
  background-color: darken(#f7982b, 12%);
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

.container {
  width: 95vw;
  min-height: 100vh;
  margin-top: 70px;
}
.backgroundImage {
  // background-image: url(/images/background.gif);
  // background-size: cover;
  // background-repeat: repeat-y;
  position: absolute;
  top: 0px;
  width: 100vw;
  // min-height: calc(100vh + 10px);

  background: url(/images/background.gif) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

form {
  legend {
    color: #eaeaea;
  }
  input {
    background-color: #55e4fc;
    border: 0px;
    color: #ec62fc;
    border-radius: 2px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
  }

  .button {
    background-color: #ec62fc;
    color: #55e4fc;
    border-radius: 100%;
  }
}

nav {
  width: 100%;
  background-color: rgba(247, 152, 43, 0.8);
  height: 60px;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  font-weight: 400;

  i {
    color: #3B5998;
  }

  div {
    position: absolute;
    height: 100%;
    width: 60%;
    line-height: 60px;
  }
  .navRight {
    width: 40%;
    z-index: 2;
    right: 0px;
    text-align: right;
    div {
      display: inline-block;
      position: relative;
      width: auto;
      text-align: center;
      padding: 0 15px;
    }
    div:hover {
      background-color: darken(#f7982b, 15%);
      cursor: pointer;
      color: purple;
    }
    .user {
      width: auto;
    }
  }
  .navLeft {
    width: 100%;
    div {
      display: inline-block;
      width: auto;
      position: relative;
      text-align: center;
      margin: 0px;
      padding: 0 15px;
      h1 {
        margin: 0px;
      }
    }
    div:hover {
      background-color: darken(#f7982b, 15%);
      cursor: pointer;
      color: purple;
    }
  }
}

.active {
  background-color: darken(#f7982b, 15%);
}
.row {
  div {
    text-align: center;
  }
}
.embed-responsive {
  max-height: 60vh;
}
.closeVideo {
  width: 30px;
  height: 30px;
  float: right;
  text-align: center;
  font-weight: 800;
  color: black;
  font-size: 30px;
}
.closeVideo:hover {
  cursor: pointer;
}
.thumbnail {
  min-height: 200px;
  background-color: rgba(240, 240, 240, 0.7);;
}
.header {
  margin: 0 auto;
  position: relative;
  text-align: center;
  margin-top: 150px;
  h1 {
    font-size: 50px;
    margin: 0px;
    color: #e6e6e6;
    span {
      opacity: 0;
      transition: all 1s ease;
      font-size: 30px;
    }
  }
  h1:hover {
    cursor: pointer;
    color: darken(#e6e6e6, 15%);
    span {
      opacity: 1;
      transition: all 2s ease;
    }
  }
}
.history {
  background-color: red;
  width: 70%;
  margin: 0 auto;
}
h3 {
  color: #e6e6e6;
}
.userThumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: rgba(49, 28, 8, 0.7);
  border: 1px solid rgba(49, 28, 8, 1);
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  color: darken(#e6e6e6, 15%);

}
