body {
  background-color: brown;
}

.container {
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
  margin-top: 12vh;
}

.row {
  width: 100%;
  margin-top: 50px;
}

.thirds {
  display: inline-block;
  width: 30%;
  text-align: center;
}

input {
  background-color: #55e4fc;
  border: 0px;
  color: #ec62fc;
  border-radius: 2px;
}

.button {
  background-color: #ec62fc;
  color: #55e4fc;
  border-radius: 100%;
}

nav {
  width: 100%;
  background-color: red;
  height: 10vh;
  position: fixed;
  left: 0px;
  top: 0px;
}
